  /* carte et menus globales */

    /* Plats du jour */

.plats-du-jour .head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.plats-du-jour .centre,
.carte-suggestions .centre {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 0px;
  flex: 1;
  flex-grow: 1;
  background-color: #334264f2;
}

.plats-du-jour .menu-plat-seul {
  align-self: stretch;
  color: white;
  text-align: center;
  font-size: var(--h3-font-size);
}

.plats-du-jour .text-wrapper,
.carte-suggestions .text-wrapper{
  align-self: stretch;
  color: white;
  text-align: center;
}

.plats-du-jour span {
  font-family: "Lato";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: center;
}

.plats-du-jour .card-pdj {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}

.plats-du-jour .card-pdj .menu-du-jour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
} 


.plats-du-jour .jour {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 56px;
  font-weight: 700;
  color: white;
  font-weight: var(--h3-font-weight);
}

.plats-du-jour .entree,
.plat {
  font-family: var(--elements-menu-desktop-font-family);
  font-size: var(--elements-menu-desktop-font-size);
  text-align: center;
  padding: 0 20px;
  color: white;
}

.plats-du-jour .frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  flex: 0 0 auto;
}

.trait {
  width: 13px;
  height: 1px;
  background-color:white;
}


/* plats */

.carte-suggestions p {
  color: white;
  font-family: var(--elements-menu-desktop-font-family);
  font-size: var(--elements-menu-desktop-font-size);
}

.carte-suggestions h3 {
  text-align: left;
  color: white;
  padding-left: 20px;
}

.carte-suggestions .plats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}



.carte-suggestions .plats .card-plats {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-self: stretch;
}

.carte-suggestions .plats .card-plats .trait-prix {
  display: flex;
  padding-left: 15px;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  flex: 0 0 auto
}

.carte-suggestions .plats .card-plats .trait-plats {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  border: 1px dashed;
  border-color: white;
}

.carte-suggestions .description {
  font-family: var( --description-menu-desktop-font-family);
  font-size: var(--description-menu-desktop-font-size);
}

/* spécifique mobile  */

@media screen and (max-width:768px) {

  .plats-du-jour,
  .carte-suggestions {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
    overflow: hidden;
    background-image: url("../assets/img/suggestions-conteneur.jpg");
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: var(--box-shadow);
  }

  .plats-du-jour .bord,
  .carte-suggestions .bord {
    align-self: stretch;
    width: 20px;
    background-color: #334264f2;
  }
		
  .plats-du-jour .text-wrapper,
  .carte-suggestions .text-wrapper{
    font-size: var(--h2-mobile-font-size);
  }
	
	.plats-du-jour .card-pdj,
  .carte-suggestions  .plats {
		flex-direction: column;
		align-items: flex-start;
		gap: 34px;
		align-self: stretch;
		width: 100%;
		flex: 0 0 auto;
	}

	
	.plats-du-jour .jour {
		font-size: var(--carte-jour-mobile-font-size);
	}
	
	.plats-du-jour .entree {
		align-self: stretch;
		font-size: var(--elements-menu-mobile-font-size);
		text-align: center;
	}
	
	.plats-du-jour .plat {
		align-self: stretch;
		font-size: var(--elements-menu-mobile-font-size);
		text-align: center;
	}
  
  .carte-suggestions p {
    font-size: var(--elements-menu-mobile-font-size);
  }

  .carte-suggestions .plats {
    gap: 24px;
  }

  .carte-suggestions .plats .card-plats {
    gap: 8px;
  }

  .carte-suggestions .description {
    font-size: var(--description-menu-mobile-font-size);
  }
  
  /* pour empécher l'affichage des titres de sections de carte en mode filtre */

  .filtre{
    display: none;
  }
}

/*spécifique desktop */

@media screen and (min-width:769px) {
  .plats-du-jour,
  .carte-suggestions {
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    border-radius: 25px;
    background: var(--bleu-fritsch);
    box-shadow: var(--box-shadow);
  }

  .plats-du-jour .frame {
    gap: 16px;
  }

 /*pour empécher l'affichage des titres de section de carte sans filtre*/

  .mobile {
    display: none;
  }

  .carte-suggestions .centre{
    width: 100%;
  }

  .carte-suggestions .filtre {
    display: flex;
    align-items: center;
    gap: 28px;
    align-self: stretch;
  }

  .filtre h3 {
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
  }
  
  .filtre h3:hover {
    text-decoration: underline;
  }
  
  .filtre h3.active {
    text-decoration: underline;
    font-weight: bold; 
  }
   
  .plats-hidden,
  .tartes-flambees,
  .desserts{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
}