<header>
  <a class="logo-desktop-top-wrapper"href="index.html">
    <p>Retour à l'accueil</p>
    <img src="./assets/img/svg/logo-horizontal-grand.svg" alt="le logo du restaurant, cigogne à gauche et 'L'ami Fritsch' à droite"">
  </a>
  <a class="logo-mobile-top-wrapper" href="index.html">
    <p>Retour à l'accueil</p>
    <img src="./assets/img/svg/logo-horizontal-petit.svg" alt="le logo du restaurant, cicogne à gauche et 'L'ami Fritsch' à droite">
  </a>
  <button id="burger" class="burger"><span class="bar"></span></button>
  <nav class="menu-navigation">
    <ul>
      <li><a href="./index.html">Accueil</a></li>
      <li><a href="./carte-et-menus.html">Carte et menus</a></li>
      <li><a href="./reservations.html">Réservations</a></li>
      <li><a href="./contact.html">Groupe</a></li>
    </ul>
  </nav>
  <div id="burger-overlap" class="burger-overlap">	
    <nav class="liens">
      <ul>
        <li><a href="./index.html">Accueil</a></li>
        <li><a href="./carte-et-menus.html">Carte et menus</a></li>
        <li><a href="./reservations.html">Réservations</a></li>
        <li><a href="./contact.html">Groupe</a></li>
        <li><a href="./mentions-legales.html">Mentions légales</a></li>
        <li><a href="./protections-donees.html">Protections des données</a></li>
      </ul>
    </nav>
    <div class="dash"></div>
    <div class="contacts">
      <div class="contact-card">
        <p>
          <p>
            L'ami Fritsch <br> 9, rue princpale, 67350 <br> Ettendorf <br>
          </p> 
          <p>
            Tél : 03.68.03.81.67
          <p>
            Mail : lamifritsch@orange.fr
          </p>
        </p>
      </div>
      <a class="cta" href="./contact.html">Contactez-nous</a>
    </div>
    <div class="dash"></div>
    <div class="socials">
      <a class="pastille" target="_blank" href="https://www.instagram.com/lamifritsch/">
        <p>Suivez-nous sur instagram</p>
        <img src="./assets/icons/instagram-brands.svg" alt="Logo instagram">
      </a>
      <a class="pastille" target="_blank" href="https://www.facebook.com/Lamifritsch/">
        <p>Suivez-nous sur facebook</p>
        <img src="./assets/icons/facebook-f-brands-solid.svg"  alt="Logo facebook">
      </a>
  </div>
  </div>
</header>