
/* Reset  */

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  vertical-align:baseline;
  line-height: 1.5em;
}

*::selection {
  background-color: var(--cta);
}

*:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  font-family: var(--main-font-family);
  background: linear-gradient(180deg, #FFF -20%, #BFCDE5 58.47%, #FFF 120%);  
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: calc(var(--header-height) + 24px);
  gap: 40px;
}

ol,
ul {
  list-style: none;
}

header, 
footer {
  max-width: 100%;
}

address {
  color: white;
  text-align: center;
  padding: 16px 32px;
  background-color: var(--bleu-moyen);
  border-radius: 10px;
  box-shadow: var(--deep-shadow);
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

  a:focus-visible {
    outline: 2px solid white;
    border: 2px solid var(--cta);
    offset: 2px;
  }
   
  a:focus {
    outline: 2px solid white;
    border: 3px solid var(--cta);
  }

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: var(--deep-shadow);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  white-space: nowrap;
}

  
/*********************** Règles globales mobile ***************************/

h1 {
  font-family: "Gothique";
  font-size: var(--h1-mobile-font-size);
  font-weight: var(--h1-font-weight);
  text-align: center;
}

h2 {
  font-size: var(--h2-mobile-font-size);
  font-weight: var(--h2-font-weight);
}

h3 {
  font-size: var(--h3-mobile-font-size);
  font-weight: var(--h3-font-weight);
}

p {
  font-size: var(--paragraphes-mobile-font-size);
  /* line-height: 1.5em; */
}

.img-desktop {
  display: none;
}


.logo-mobile{
  width: 140px;
  margin: 0 24px 0 24px ;
  border-radius: 0;
  box-shadow: none;
}

.logo-desktop {
  display: none;
  border-radius: 0;
  box-shadow: none;
}

 /************************ tablettes ****************************/

@media screen and (min-width:768px) {
  h1 {
    font-size: var(--h1-tablet-font-size);
    text-align: center;
  }

  h2 {
    font-size: var(--h2-tablet-font-size);
  }

  h3 {
    font-size: var(--h3-tablet-font-size);
  }

  p {
    font-size: 1em;
  }
}

  /******************* règles globales desktop ************************/

@media screen and (min-width: 1024px) {

  main {
    align-items: center;
    padding-top: 32px;
    margin-left: 100px;
    margin-right: 100px;
  }

  h1{
	  align-self: center;
		font-size: var(--h1-font-size);
	}

  h2 {
    text-align: left;
    font-size: var(--h2-font-size);
  }
  
  h3 { 
    font-size: var(--h3-font-size);
  }

  p {
    font-size: var(--paragraphes-font-size);
  }

  .img-mobile {
    display: none;
  }

  .img-desktop{
    display: block;
  }

.logo-mobile{
  display: none;
  border-radius: 0;
  box-shadow: none;
}

.logo-desktop {
  display: block;
  width: 200px;
  border-radius: 0;
  box-shadow: none;
  padding: 16px 0;

}

}

/*************************** cta ***************************/

.cta {
  display: block;
  color: #FFF;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  background-color: var(--cta);
  border-radius: 10px;
  box-shadow: var(--cta-shadow);
  padding: 16px 32px;
  width: 90%;
  cursor: pointer;
}



.cta:focus-visible {
  outline: 2px solid black;
  border: 2px solid white;
  border-radius: 10px;
}
  
.cta:focus {
  outline: 2px solid black;
  border: 3px solid white;
  border-radius: 10px;
}

/******************************* cta desktop ******************************/

@media screen and (min-width: 1024px) {
  .cta {
    width: auto;
    align-self: center;
    transition: all 0.3s ease-out;
  }

  .cta:hover {
    opacity: 80%;
    transform: scale(1.1);
    transition: all 0.3s ease-out;
  }
}

/******************************* header ********************************/

header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bleu-fritsch);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
} 

 header nav img {
  display: none;
}

body.no-scroll {
  overflow: hidden;
}


/************************* burger ******************************/

#burger {
  background: none;
  margin: 24px 40px;
  border: none;
  width: 32px;
  height: 27px;
  cursor: pointer;
}

#burger .bar {
  display: block;
  width: 24px;
  height: 6px;
  background: white;
}

#burger .bar::before, 
#burger .bar::after {
  display: block;
  content: "";
  width: 32px;
  height: 6px;
  background: white;
  position: absolute;
  transition: all 0.2s ease-out;
}

#burger .bar::before {
  transform: translate3d(-4px, -12px, 0)
  
}

#burger .bar::after {
  transform: translate3d(-4px, +12px, 0);
}

/************** burger, contenu page de navigation *********************/

#burger-overlap {
  background-color: var(--bleu-pale);
  padding: 24px 20px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  position: absolute;
  top: 100%;
  left: 110%;
  width: 0%;
  overflow-y: scroll;
  opacity: 0;
  height: var(--burger-height);
  transition: all 0.4s ease-out;
}

header nav {
  margin: 0 20px;
  padding-bottom: 24px;
}

header nav ul {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

header nav li {
  text-align: center;
}

header nav a {
  color: #000;
  font-size: var(--menu-nav-mobile-font-size);
  text-transform: uppercase;
}

#contact-container {
  margin: 0 auto;
  max-width: 80%;
  padding: 24px 0 24px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

header .cta {
  margin-top: 24px;
  width: auto;
}

.socials {
  display: flex;
  width: 60%;
  justify-content: center;
  gap: 24px;
  margin: 24px auto 0 auto;
}

.socials li {
  border-radius: 50px;
  background-color: var(--bleu-moyen);
  padding: 8px;
  box-shadow: var(--deep-shadow);
  transition: all 0.3s ease-out;
}

.socials li img {
  box-shadow: none;
  width: 25px;
  height: 25px;
  filter: invert(100%);
  transition: all 0.3s ease-out;
}

.socials li:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-out;
  background-color: var(--bleu-moyen);
}

.socials li:hover img {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.menu-navigation {
  display: none;
}

/************************** burger and menu animations *****************************/

.show-overlap #burger-overlap {
  opacity: 1;
  width: 100%;
  min-width: 360px;
  left: 0;
  z-index: 2;
}

.show-overlap #burger .bar {
  width:0;
}

.show-overlap #burger .bar::before {
  transform: rotate(-45deg);
}

.show-overlap #burger .bar::after {
  transform: rotate(45deg);
}



/***************************header desktop ****************************/

@media screen and (min-width: 1024px) {

header {
  box-sizing: border-box;
  padding-left: 80px;
  justify-content: flex-end;
  position: relative; /*pour qu'il ne soit plus fixe */
}

header address,
header #contact-container,
header .socials {
  display: none;
}

/* affichage du menu de navigation du burger mais en version desktop   */

#burger-overlap {     
  display: flex;    
  opacity: 1;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  left: 0;
  position: relative;
  background: none;
  height: auto;
  padding: 0;
  transition: none;
}

header nav {
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
}

header nav img {
  display: inline-block;
  border-radius: 0;
  box-shadow: none;
  margin-right: 8px;
  width: 18px;
}

header nav ul {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
  gap:32px;
  padding: 0 8px;
}




.mobile-only {
  display: none;
}

header nav ul a {
  color: white;
  display: flex;
  align-items: center;
  font-size: var(--menu-nav-font-size);
}

.burger-overlap ul a:hover {
  text-decoration: underline;
  transition: all 0.5s ease-out;
}

  .logo-mobile {            /* logo mobile caché pour desktop  */
    display: none;
  }

  .burger {                /* cacher le burger */
    display: none;
  }
}


/****************** footer **********************/

.logo-desktop-bottom-wrapper{
  display: none;
}

footer p,
footer a {
  font-size: 14px;
}
footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 34px 0 20px 0;
  width: 100vw;
  padding: 40px 20px;
  background-color: var(--bleu-fritsch);
  color: white;
  text-align: center;
}

footer .horaires-cards > p {
    margin-bottom: 32px;
}

footer img {
  box-shadow: none;
  max-width: 100%;
}


footer nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

footer nav > ul {
  display: flex;
  padding: 16px 32px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 10px;
  background: var(--bleu-moyen);
  box-shadow: var(--deep-shadow);
}

footer nav ul > li {
  width: 50%;
  text-align: center;
}

footer nav ul ul li {
  margin: 12px auto;
  width: 100%;
  text-transform: uppercase;
}

footer nav ul ul li a:hover {
  text-decoration: underline;
  transition: all 0.3s;
}

footer .socials {
  margin: auto 0;
}

 /******************* footer tablettes  ********************************/

@media screen and (min-width:768px) {

  

  footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer nav > ul {
  padding: 0;
  }
}

/********************** footer desktop ******************************/

@media screen and (min-width:1024px){
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer nav {
    justify-content: center;
  }


  footer .logo-desktop {
    padding: 0;
  }

  footer div {
    max-width: 70%;
  }
  .logo-desktop-bottom-wrapper{
    display: block;
    width: 200px;
    min-width: 15%;
  }

  footer .socials {
    max-width: 15%;
  }

  footer nav > ul {
    padding: 16px 32px;
}
}


/******************************* keyframes ***********************************/

@keyframes slideInFromLeft {
  from {
    transform: translateX(-110%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(110%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from{
    transform: translateY(110%);
    opacity: 0; 
  }

  to {
    transform: translateY(0);
    opacity: 1; 
  }
}