/* main */


  
.about,
.reservations,
.groupe {
  display: flex;
  align-items: center;
  gap: 24px;
}

.reservations img {
  max-width: 100%;
}

.about img,
.groupe img {
  max-width: 100%;
  box-shadow: var(--box-shadow);
}

.texte {
  display: flex;
}

/* mobile */

@media screen and (max-width:768px) {
  .about, 
  .reservations,
  .groupe {
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
  }

  .texte {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    order: 2;
  }

  .photo {
    max-width: 100%;
  }
}

/* deskop */

@media screen and (min-width: 769px) {

  .index {
    display: flex;
    padding: 60px 0px;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;
  }

   .photo {
    max-width: 50%;
  }

  .texte {
    padding: 64px 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    align-self: stretch;
  }
}

  /* tablettes */

  @media screen and (min-width: 769px) and (max-width: 1400px) {

    .index {
      max-width: 90%;
      margin: auto;
    }
  
  
    .about,
    .reservations,
    .groupe {
      flex-direction: column;
      padding: 0px;
    }
  
    .photo {
      order: 1;
    }
  
    .texte {
      order: 2;
    }
  
  }
  