
/* mobile */
  
  
  .about,
  .reservations,
  .groupe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
  }

  .reservations img {
    max-width: 100%;
  }

  .about img,
  .groupe img {
    max-width: 75%;
    box-shadow: var(--box-shadow);
  }

  .texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    order: 2;
   
  }
  .texte p,
  .texte h2 {
    /* padding: 0 40px; */
    align-self: flex-start;
  }
  

 /* tablette */

  @media screen and (min-width: 768px) {
  
    .texte p,
    .texte h2 {
      padding: 0px 80px;
    }

  }

  /* laptop */

  @media screen and (min-width: 1024px) {

    main {
      margin: 0;
    }

    .about,
    .groupe {
      flex-direction: row;
      padding: 0px;
      margin-right: 40px;
    }

    .reservations {
      flex-direction: row;
      margin: 0px 40px;
    
    }

    .texte {
      align-items: flex-start;
      gap: 48px;
      padding: 0px;
      order:0 ;
    }
    
    .texte p,
    .texte h2 {
      padding: 0 0px;
    }
    .reservations img {
      max-width: 50%;
    }
  
    .about img,
    .groupe img {
      max-width: 50%;
    }
  }
  

/* desktop */

@media screen and (min-width: 1400px) {

  .texte h2,
  .texte p {
    padding: 0 64px;
    
  }
  .texte {
    gap: 64px;
  }
}

