
/* mobile */
  
  /* h1 {
    font-family: "Gothique";
  } */
   
  main{
  padding-top: var(--header-height, 55);
  }

  .hero{
    position: relative;
    height: calc(100vh - var(--header-height));
    width: 100%;
    background-image: url(../img/hero1.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0 20px;
  }

  .hero .texte {
    color: white;
    margin-bottom: 32px;
    width: 100%;
    /* height: calc(100vh - var(--header-height)); */
    height: 100vh;
    justify-content: flex-start;

  }

  .call-to-action {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-top: 10vh;
  }

  .hero .texte .cta {
    width: auto;
    z-index: 2;
    margin: 0px;
    
  }

  #un {
    animation: appear 2.5s ease-out;
  }

  #deux {
    animation: appear 3s ease-out
  }

  h1 {
    font-family: "Gothique";
    font-size: 7vh;
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;
    animation: slideInFromLeft 1s ease-out;
  }

  .hero .texte h2 {
    font-size: 4vh;
    padding: 2vh 2vh;
    text-align: center;
    align-self: center;
    animation: slideInFromRight 1s ease-out;
  }

  .hero .texte p {
    font-size: 2.5vh;
    text-align: center;
    align-self: center;
    animation: appear 2s ease-in;
  }
 
  .cigogne {
    width: 100%;
    z-index: 1;
    transform: translate(50vw, -60vh );
  }
  
  /* main aprés hero */

  .img-desktop {
    display: none;
  }

  .about,
  .reservations,
  .groupe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    padding: 0 20px;
  }

  .reservations img {
    max-width: 100%;
  }

  img {
    max-width: 100%;
    box-shadow: var(--box-shadow);
  }

  .texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
   
  }
  .texte p,
  .texte h2 {
    align-self: flex-start;
  }

  
  .texte h2 {
    padding: 16px 0;
  }

  .texte p {
    padding: 8px 0;
  }

  .texte .cta {
    margin-top: 32px;
  }
  

 /* tablette */

  @media screen and (min-width: 768px) {
  
    /* hero */

    main {
      margin: 0;
    }

    .hero{
      background-image: url(../img/hero2.jpg);
    }
/* 
    .cigogne {
      bottom: -175px;
    }
   */
    /* h1 {
      font-size: 3.5em;
    } */
  
    /* .hero .texte h2 {
      font-size: 2em;
    }
  
    .hero .texte p {
      font-size: 1.25em;
    }
   
    .texte p,
    .texte h2 {
      padding-left: 80px;
      padding-right: 80px;
    } */

    .cta {
      width: 60%;
    }
  }

  /* laptop */

  @media screen and (min-width: 1024px) {

    main {
      margin: 0;
      padding-top: 0;
    }

    /* hero */
   
    .hero {
      background-image: url(../img/hero3.jpg);
      background-position: 0px -200px;
    }
  
    .hero .texte {
      width: 50%;
      display: flex;
      align-items: center;
      margin: 2.5vh
    }
  
    /*.hero .texte h2 {
      padding: 24px 0px;
    }
  
    .hero .texte p {
      padding: 16px 0px;
      margin-bottom: 24px;
    }
   
    h1 {
      font-size: 4em;
      padding: 24px 0;
    } */
  
    .cigogne {
      width: 60%;
      transform: translate(50vw, -80vh);
    } 

    /* main après hero */

    main{
      gap: 0;
      padding: 0;
    }

    .img-desktop{
      display: block;
    }

    .img-mobile {
      display: none;
    }

    .about,
    .groupe,
    .reservations {
      gap: 0;
      flex-direction: row;
      padding: 0;
    }

    .texte {
      align-items: flex-start;
      padding: 24px 24px;
      order:0 ;
    }
    
    .texte p,
    .texte h2 {
      padding: 0 0px;
    }

    .texte h2 {
      padding: 24px 0px;
    }
  
    .texte p {
      padding: 16px 0px;
    }
  
    .texte .cta {
      margin-top: 32px;
    }
    .reservations img {
      max-width: 50%;
    }
  
    .about img,
    .groupe img {
      max-width: 50%;
    }
  }
  

/* desktop */

@media screen and (min-width: 1400px) {

  main{
    padding-bottom: 0;
  }

  .texte h2 {
    padding: 24px 64px;
  }

  .texte p {
    padding: 16px 64px;
  }

  .texte .cta {
    margin-top: 32px;
  }

  /* hero */

  /* .hero .texte {
    width: 34%;
    margin-top: 150px;
    margin-left: 300px;;
  }

  .hero .texte h2 {
    padding: 24px 0px;
  }

  .hero .texte p {
    padding: 16px 0px;
    margin-bottom: 48px;
  }
 
  h1 {
    font-size: 4em;
    padding: 24px 0;
  }

  .cigogne {
    left: 55%;
    bottom: -300px;
  } */
}

