
/* mobile */

/* @media screen and (max-width:768px) {
  
} */


/* tablettes */
/* @media screen, (max-width:769px) and (min-width:1024p) {
  
} */

/* desktop */
/* @media screen and (min-width:769px) {
  
} */


  /*mobile avant media querries*/


  .logo-mobile{
    max-width: 40%;
  }
   
	.burger {
		background: none;
		border: none;
		width: 32px;
		height: 27px;
		cursor: pointer;
		position: relative;
	}

	.burger .bar {
		display: block;
		width: 24px;
		height: 6px;
		background: white;
		
	}

	.burger .bar::before, 
  .burger .bar::after {
		display: block;
		content: "";
		width: 32px;
		height: 6px;
		background: white;
		position: absolute;
	}

	.burger .bar::before {
	  transform: translate3d(-4px, -12px, 0)
		
	}

	.burger .bar::after {
		transform: translate3d(-4px, +12px, 0);
	}



	

	.plats-du-jour-mobile {
    
		display: flex;
	  max-width: 100%;
		align-items: center;
		gap: 20px;
		position: relative;
		border-radius: 25px;
		overflow: hidden;
		background-image: url("../img/suggestions-conteneur.png");
		background-size: cover;
		background-position: 50% 50%;
		box-shadow: var(--box-shadow);
	}

	.plats-du-jour-mobile .bord {
		position: relative;
		align-self: stretch;
		width: 20px;
		background-color: #334264f2;
	}
	
	.plats-du-jour-mobile .centre {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		padding: 20px 0px;
		position: relative;
		flex: 1;
		flex-grow: 1;
		background-color: #334264f2;
	}
	
	.plats-du-jour-mobile .head {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		position: relative;
		align-self: stretch;
		width: 100%;
		flex: 0 0 auto;
	}
	
	.plats-du-jour-mobile .text-wrapper {
		position: relative;
		align-self: stretch;
		margin-top: -1.00px;
		font-family: var(--h2-mobile-font-family);
		font-weight: var(--h2-mobile-font-weight);
		color: #ffffff;
		font-size: var(--h2-mobile-font-size);
		text-align: center;
		letter-spacing: var(--h2-mobile-letter-spacing);
		line-height: var(--h2-mobile-line-height);
		font-style: var(--h2-mobile-font-style);
	}
	
	.plats-du-jour-mobile .menu-plat-seul {
		position: relative;
		align-self: stretch;
		font-family: var(--h3-mobile-font-family);
		font-weight: var(--h3-mobile-font-weight);
		color: #ffffff;
		font-size: var(--h3-mobile-font-size);
		text-align: center;
		letter-spacing: var(--h3-mobile-letter-spacing);
		line-height: var(--h3-mobile-line-height);
		font-style: var(--h3-mobile-font-style);
	}
	
	.plats-du-jour-mobile .card-pdj {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 35px;
		position: relative;
		align-self: stretch;
		width: 100%;
		flex: 0 0 auto;
	}
	
	.plats-du-jour-mobile .menu-du-jour {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 25px;
		position: relative;
		align-self: stretch;
		width: 100%;
		flex: 0 0 auto;
	}
	
	.plats-du-jour-mobile .jour {
		position: relative;
		align-self: stretch;
		margin-top: -1.00px;
		font-family: var(--carte-jour-mobile-font-family);
		font-weight: var(--carte-jour-mobile-font-weight);
		color: #ffffff;
		font-size: var(--carte-jour-mobile-font-size);
		text-align: center;
		letter-spacing: var(--carte-jour-mobile-letter-spacing);
		line-height: var(--carte-jour-mobile-line-height);
		font-style: var(--carte-jour-mobile-font-style);
	}
	
	.plats-du-jour-mobile .frame {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		position: relative;
		align-self: stretch;
		width: 100%;
		flex: 0 0 auto;
	}
	
	.plats-du-jour-mobile .entree {
		position: relative;
		align-self: stretch;
		margin-top: -1.00px;
		font-family: var(--elements-menu-mobile-font-family);
		font-weight: var(--elements-menu-mobile-font-weight);
		color: #ffffff;
		font-size: var(--elements-menu-mobile-font-size);
		text-align: center;
		letter-spacing: var(--elements-menu-mobile-letter-spacing);
		line-height: var(--elements-menu-mobile-line-height);
		font-style: var(--elements-menu-mobile-font-style);
	}
	
	.trait {
		position: relative;
		width: 13px;
		height: 1px;
		background-color: #ffffff;
	}
	
	.plats-du-jour-mobile .plat {
		position: relative;
		align-self: stretch;
		font-family: var(--elements-menu-mobile-font-family);
		font-weight: var(--elements-menu-mobile-font-weight);
		color: #ffffff;
		font-size: var(--elements-menu-mobile-font-size);
		text-align: center;
		letter-spacing: var(--elements-menu-mobile-letter-spacing);
		line-height: var(--elements-menu-mobile-line-height);
		font-style: var(--elements-menu-mobile-font-style);
	}
  


  /* règles globales */

  body {
    background-color: var(--bleu-pale);
  }

  h2 {
    text-align: left;
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
  }

  h3 { 
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
  }

  /* page d'accueil desktop*/

  /* header */

  header {
    display: flex;
    max-width: 100%;
    background-color: var(--bleu-fritsch);
    padding: 24px 100px;
    justify-content: space-between;
    align-items: center;
    
    } 

  .logo-desktop-vertical,
  .logo-desktop-vertical-top {
    max-width: 245px;
  }

  .menu-navigation ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }

  .menu-navigation ul a {
    color: white;
    text-transform:uppercase;
    font-family:var(--menu-nav-font-family);
    font-weight: var(--menu-nav-font-weight);
    font-size: var(--menu-nav-font-size);
    letter-spacing: var(--menu-nav-letter-spacing);
    line-height: var(--menu-nav-line-height);
  }

  .menu-navigation ul a:hover {
    text-decoration: underline;
    transition: all 0.5s;
  }
  
  /* main */
 
  p {
    font-family: var(--paragraphes-font-family);
    font-weight: var(--paragraphes-font-weight);
    font-size: var(--paragraphes-font-size);
  }

  .about {
    display: flex;
    padding-right: 100px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }

  .reservations {
    display: flex;
    padding: 0px 100px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }

  .groupe {
    display: flex;
    padding-right: 100px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }

  .photo {
    max-width: 50%;
  }

  .reservations img {
    max-width: 100%;
  }

  .about img,
  .groupe img {
    max-width: 100%;
    box-shadow: var(--box-shadow);
  }

  .texte {
    display: flex;
  }

  .cta {
    color: #FFF;
    text-align: center;
    font-family: "Lato";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: var(--bleu-fritsch);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    width: 266px;
    padding: 10px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .cta a {
    color: white;
  }

  .cta:hover {
    opacity: 50%;
    transition: all 0.3s;
  }

  /* footer */

  footer {
    background-color: var(--bleu-fritsch);
  }
 
  .cards {
    display: flex;

  }

  .contact-card {
    padding: 40px 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--bleu-moyen);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    max-width: 200%;
  }

  .contact-card p {
    text-align: center;
    color: white;
    line-height: normal;
  }

  .navigation-card {
    display: flex;
    padding: 40px 40px;
    align-items: center;
    gap: 16px;
    background-color: var(--bleu-moyen);
    border-radius: 10px;
    box-shadow: var(--box-shadow)
  }

  .navigation-card .gauche,
  .droite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }



  .navigation-card a {
    font-family: var(--nav-card-font-family);
    font-weight: var(--nav-card-font-weight);
    font-size: var(--nav-card-font-size) ;
    letter-spacing: var(--nav-card-letter-spacing);
    line-height: var(--nav-card-line-height);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
  
  .navigation-card a:hover {
    text-decoration: underline;
    transition: all 0.3s;
  }

  .navigation-card li {
    padding: 16px 0px;
    display: flex;

  }

  .socials {
    display: flex;
    width: 152px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
  }

  .pastille a {
    display: flex;
    width: 64px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 50px;
    background: var(--bleu-moyen);
    stroke: white;
  }

  .pastille a:hover {
    background: var(--bleu-pale);
    stroke: black;
    transform: scale(1.1);
    transition: all 0.6s;
  }

  /* carte et menus */

    /* Plats du jour */

  .plats-du-jour,
  .carte-suggestions {
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    border-radius: 25px;
    background: var(--bleu-fritsch);
    box-shadow: var(--box-shadow);
    color: white;
  }

  
  
  .plats-du-jour .head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
  }

  .plats-du-jour span {
    font-family: "Lato";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: center;
  }

  .plats-du-jour .card-pdj {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
  }

  .plats-du-jour .card-pdj .menu-du-jour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
  }

  .plats-du-jour .card-pdj .menu-du-jour .elements-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  .plats-du-jour .jour {
    text-align: center;
    font-family: "Dancing Script";
    font-size: 56px;
    font-weight: 700;
  }


  .plats-du-jour .entree,
  .plat {
    font-family: var(--elements-menu-desktop-font-family);
    font-size: var(--elements-menu-desktop-font-size);
    text-align: center;
    padding: 0 20px;
  }


    /* plats */

  .carte-suggestions .plats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }

  .carte-suggestions .plats p {
    align-self: stretch;
    font-family: var(--elements-menu-desktop-font-family);
    font-size: var(--elements-menu-desktop-font-size);
  }

  .carte-suggestions .plats .card-plats {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    position: relative;
  }

  .carte-suggestions .plats .card-plats .trait-prix {
    display: flex;
    padding-left: 15px;
    align-items: flex-end;
    gap: 10px;
    position: relative;
    align-self: stretch;
    position: relative;
    width: 100%;
    flex: 0 0 auto
  }

  .carte-suggestions .plats .card-plats .trait-plats {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 1px;
    border: 1px dashed;
    border-color: white;
  }
 
  .carte-suggestions .filtre {
    display: flex;
    align-items: center;
    gap: 28px;
    align-self: stretch;
  }

  .carte-suggestions .plats .card-plats .description {
    font-family: var(--description-menu-desktop-font-family);
    font-size: var(--description-menu-desktop-font-size);
  }

  .carte-suggestions h3 {
    justify-content: start;
    align-self: stretch;
  }
   
  .plats-hidden{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    /* display: none; */
  }

  .tartes-flambees{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    display: none;
  }

  .desserts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    display: none;
  }

 

  /* media querries */

    /* mobile */

@media screen and (max-width:768px) {
  
  h1 {
    font-size: var(--h1-mobile-font-size);
  }

  h2 {
    font-size: var(--h2-mobile-font-size);
  }

  p {
    font-size: var(--paragraphes-mobile-font-size);
  }

  header {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .burger-overlap {
    background-color: var(--bleu-pale);
    display: flex;
    padding: 48px 20px 24px 20px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    flex: 1 0 0;
    align-self: stretch;
    position: absolute;
    top: 100%;
		left: 110%;
		width: 0%;
		overflow-y: auto;
		opacity: 0;
		height: calc(100vh - 146px);
		transition: all 0.4s ease-out;
  }

  .show-overlap .burger-overlap {
		opacity: 1;
		width: 100%;
		left: 0;
		z-index: 2;
	}

	.show-overlap .burger .bar {
		width:0;
	}

	.burger .bar::before,
	.burger .bar::after {
		transition: all 0.2s ease-out;
	}

	.show-overlap .burger .bar::before {
		transform: rotate(-45deg);
	}

	.show-overlap .burger .bar::after {
		transform: rotate(45deg);
	}


  .liens ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
  }

  .liens a {
    display: flex;
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: var(--menu-nav-mobile-font-family);
    font-size: var(--menu-nav-mobile-font-size);
    text-transform: uppercase;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
  }


  .menu-navigation{
    display: none;
  }

  main{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-top: calc(var(--header-height, 100px) + 24px);
    gap: 40px;
    background-color: var(--bleu-pale);
  }

  .plats-du-jour,
  .carte-suggestions {
    display: none;
  }

  

  .logo-desktop-horizontal,
  .logo-desktop-vertical,
  .logo-desktop-vertical-top {
    display: none
  }

  .about, 
  .reservations,
  .groupe {
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
  }

  .texte {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    order: 2;
  }

  .photo {
    max-width: 100%;
  }

  .cta {
    padding: 10px 30px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    font-size: 24px;
  }

  footer {
    display: flex;
    padding: 60px 20px 20px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }

  .cards {
    gap: 30px;
    flex-direction: column;
  }

  .contact-card {
    display: flex;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }

  .navigation-card {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
  }

  .navigation-card a{
    font-size: var(--nav-card-mobile-font-size);
  }

}
  /* desktop */

@media screen and (min-width: 769px) {

  h1{
	  align-self: center;
		font-family: var(--h1-mobile-font-family);
		font-size: var(--h1-font-size);
	}

  h2 {
    font-size: var(--h2-font-size);
  }

  .burger-overlap {
    display: none;
  }

  .logo-mobile {
    display: none;
  }

  .burger {
    display: none;
  }

  main {
    display: flex;
    padding: 60px 0px;
    margin: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;
  }

  .index {
    display: flex;
    padding: 60px 0px;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;
  }

  .texte {
    padding: 64px 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    align-self: stretch;
  }

  .plats-du-jour-mobile{
    display: none;
  }
}

  /* tablettes */

@media screen and (min-width: 769px) and (max-width: 1400px) {

  .index {
    max-width: 90%;
    margin: auto;
  }


  .about,
  .reservations,
  .groupe {
    flex-direction: column;
    padding: 0px;
  }

  .photo {
    order: 1;
  }

  .texte {
    order: 2;
  }

}
 /* spécial footer */

@media screen and (min-width:1730px){

  footer {
    display: flex;
    padding: 60px 100px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  footer .cards{
    align-items: center;
    gap: 60px;
  }

  footer .logo-desktop-horizontal {
    display: none;
  }

  .logo-desktop-vertical {
    max-width: 245px;
  }
}

  /* spécial footer 2 */

@media screen and (min-width:769px) and (max-width:1729px) {

  footer {
    display: flex;
    padding: 60px 100px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
  }


  footer .cards {
    justify-content: space-around;
    gap: 60px;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
  }

  .logo-desktop-vertical {
    display: none;
    
  }

  footer .logo-desktop-horizontal{
    max-width: 40%;
  }
}
