/* import police d'écriture */


@font-face {
  font-family: "Gothique";
  src: url(../fonts/UNIFRAKTURMAGUNTIA-REGULAR.TTF) format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Lato";
  src: url(../fonts/LATO-REGULAR.TTF) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/LATO-BOLD.TTF) format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* règles de style */

:root {
    --bleu-fritsch: rgba(51, 66, 100, 1);
    --bleu-fritsch-carte: rgba(51, 66, 100, 0.8);
    --bleu-moyen: rgba(99, 126, 169, 1);
    --bleu-pale: rgba(191, 205, 229, 1);
    --cta: #be7216;
    --main-font-family: "Lato", Helvetica;
    --elements-menu-font-family: "Lato", Helvetica;
    --h1-font-weight: 600;
    --h1-font-size: 2.5em;
    --h2-font-weight: 600;
    --h2-font-size: 2em;
    --h3-font-weight: 600;
    --h3-font-size: 1.5em;
    --paragraphes-font-size: 1em;
    --h1-tablet-font-size: 2.25em;
    --h2-tablet-font-size: 1.75em;
    --h3-tablet-font-size: 1.375em;
    --h1-mobile-font-size: 2em;
    --h2-mobile-font-size: 1.5em;
    --h3-mobile-font-size: 1.25em;
    --paragraphes-mobile-font-size: 0.95em;
    --carte-jour-mobile-font-size: 1.5em;
    --elements-menu-mobile-font-size: 1rem;
    --description-menu-mobile-font-size: 0.75em;
    --menu-nav-font-size: 1em;
    --menu-nav-mobile-font-size: 1.5em;
    --box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.10);
    --cta-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    --deep-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  }
  
  